@use "@material";

body {
    font-family: roboto;
    margin: 2em;
    color: #3d3d3d;
    --mdc-theme-primary: #007f8b;
    --mdc-theme-on-primary: #f1f3f4;
}

h1 {
    color: #007f8b;
}

h2 {
    clear: both;
}

em {
    font-weight: bold;
}

video {
    clear: both;
    display: block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

header,
footer {
    clear: both;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.note {
    font-style: italic;
    font-size: 130%;
}

.videoView,
.detectOnClick {
    position: relative;
    float: left;
    width: 48%;
    margin: 2% 1%;
    cursor: pointer;
}

.videoView p,
.detectOnClick p {
    position: absolute;
    padding: 5px;
    background-color: #007f8b;
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
    margin: 0;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

.canvas {
    z-index: 1;
    position: absolute;
    pointer-events: none;
}

.output_canvas {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.detectOnClick {
    z-index: 0;
}

.detectOnClick img {
    width: 100%;
}

/* Reset some default styles */
body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    /* Use a clean, sans-serif font */
    background-color: #fff;
    /* White background */
    color: #000;
    /* Black text color */
}

h1 {
    color: #559D76;
    /* Accent color for headings */
}

/* Mobile styles */
@media screen and (max-width: 1080px) {
    /* Adjustments for small screens */

    #liveView {
        width: 100%;
        /* Make the video container full width */
        box-sizing: border-box;
    }

    #webcamButton {
        margin-bottom: 20px;
        /* Add some space below the button */
    }

    #webcam {
        width: 100%;
        /* Make the video fill the container */
        height: auto;
        /* Maintain aspect ratio */
    }

    #output_canvas {
        width: 100%;
        /* Make the canvas fill the container */
        height: auto;
        /* Maintain aspect ratio */
    }
}

/* Button and accent color */
.mdc-button--raised {
    background-color: #559D76;
    /* Accent color for the button */
    color: #fff;
    /* Text color for the button */
}

/* Ripple effect color */
.mdc-button--raised .mdc-button__ripple {
    background-color: rgba(85, 157, 118, 0.6);
    /* Adjusted ripple color based on the accent color */
}