@use "@material";

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    font-family: roboto;
    margin: 0 12%;
    --mdc-theme-primary: #559D76;
    --mdc-theme-on-primary: #f1f3f4;
    display: flex;
    flex-direction: column;
}

#logo {
    margin: 25px 0;
    align-self: center;
    width: 10rem;
}

header {
    align-self: center;
}

h1 {
    margin: 0;
    font-size: 1.25rem;
}

#lower-header {
    margin-top: 20px;
    margin-left: 50px;
    display: block;
    font-style: italic;
    color: #559D76;
}

#lower-header::before {
    content: "> ";
}

main {
    margin-top: 25px;
}

h2 {
    font-size: 1.1rem;
}

button {
    margin: 20px 0;
}

input {
    height: 35px;
}

.hidden {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

ul span {
    display: block;
    color: #559D76;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-left: 0;
}

#exercise {
    width: 100%;
    margin: 25px 0;
}

#info {
    margin: 0;
    font-style: italic;
}

.normal {
    color: black;
    font-style: normal;
    display: inline;
}

/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    text-align: center;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
} */